# Google OAuth2 Credentials
# 실제 값은 팀 단톡방에 공유된 메모를 확인하세요!
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Database Configuration (Docker용과 동일하게 세팅됨)
DB_USERNAME=user
DB_PASSWORD=password
DB_URL=jdbc:postgresql://localhost:5432/carpool